<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "https://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->
<!--    <settings>-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--    </settings>-->
<!--    <typeAliases>-->
<!--        <typeAlias type="com.kb.wallet.musical.domain.MusicalMybatis" alias="MusicalMybatis"/>-->
<!--      <typeAlias alias="Member" type="com.kb.wallet.member.domain.Member"/>-->
<!--    </typeAliases>-->


<!--  &lt;!&ndash;    <typeAliases>&ndash;&gt;-->
<!--&lt;!&ndash;        <typeAlias type="com.multi.spring2.board.domain.Board"&ndash;&gt;-->
<!--&lt;!&ndash;                   alias="Board"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </typeAliases>&ndash;&gt;-->
<!--    <mappers>-->
<!--&lt;!&ndash;        <mapper resource="mapper/BoardMapper.xml"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <mapper class="com.multi.spring2.board.mapper.BoardMapper"/>&ndash;&gt;-->
<!--    </mappers>-->
<!--</configuration>-->