<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.wallet.musical.repository.MusicalMapper">

  <!-- 결과 매핑 설정 -->
  <resultMap id="musicalResultMap" type="Member" autoMapping="true">
    <id property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="rank" column="rank"/>
    <result property="place" column="place"/>
    <result property="placeDetail" column="place_detail"/>
    <result property="ticketingStartDate" column="ticketing_start_date"/>
    <result property="ticketingEndDate" column="ticketing_start_date"/>
    <result property="runningTime" column="running_time"/>
    <result property="noticeImageUrl" column="notice_image_url"/>
    <result property="poster_image_url" column="poster_image_url"/>
    <result property="detail_image_url" column="detail_image_url"/>
    <result property="place_image_url" column="place_image_url"/>
  </resultMap>

  <select id="findAll" resultMap="musicalResultMap">
    SELECT title, rank,place,placeDetail,ticketingStartDate,ticketingEndDate,runningTime
    FROM musical
  </select>

  <select id="findById" parameterType="Long" resultMap="musicalResultMap">
    SELECT title, rank,place,placeDetail,ticketingStartDate,ticketingEndDate,runningTime
    FROM musical
    WHERE id = #{id}
  </select>

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into musical (title, rank,place,placeDetail,ticketingStartDate,ticketingEndDate,runningTime)
    values (#{title},#{rank},#{place}
           ,#{placeDetail},#{ticketingStartDate},#{ticketingEndDate},#{runningTime})
  </insert>

  <update id="updateTitle">
    update musical
    set title = #{title}
    where id = #{id}

  </update>
  <delete id="delete">
    delete from musical where id = #{id}
  </delete>

</mapper>
