<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.wallet.member.repository.MemberMapper">

    <!-- 결과 매핑 설정 -->
    <resultMap id="memberResultMap" type="Member" autoMapping="true">
        <id property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="userName" column="user_name"/>
        <result property="role" column="role"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="pinNumber" column="pin_number"/>
        <result property="loginNumber" column="login_number"/>
    </resultMap>

    <select id="findAll" resultMap="memberResultMap">
        SELECT * FROM members
    </select>

    <select id="findById" parameterType="Long" resultMap="memberResultMap">
        SELECT * FROM members WHERE id = #{id}
    </select>

</mapper>