<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.wallet.member.repository.MemberMapper">

    <!-- 결과 매핑 설정 -->
    <resultMap id="memberResultMap" type="com.kb.wallet.member.domain.Member" autoMapping="true">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="pinNumber" column="pin_number"/>
        <result property="isActivated" column="is_activated"/>
    </resultMap>

    <select id="findAll" resultMap="memberResultMap">
        SELECT *
        FROM members
    </select>

    <select id="findById" parameterType="Long" resultMap="memberResultMap">
        SELECT *
        FROM members
        WHERE id = #{id}
    </select>

</mapper>
